In [ ]:
import pandas as pd

    As you remember from first notebook we have created the pure data of toronto. Now we will add the latitude and longitude to the first dataframe which is toronto_pure_data. We are starting by reading the csv file which has latitude and longitude of the postal codes and named as toronto_geo_data

In [10]:
toronto_geo_data = pd.read_csv("toronto_geo.csv")
toronto_geo_data

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

Now we have a merge operation at the junk below. We are combining both toronto_pure_data and toronto_geo_data dataframes on toronto_final_data by using merge method. The "on" statement at the merge method represents the column which we are combining data on. In our case this column is "PostalCode" column. Method matches the rows which have equal "PostalCode" values.

In [11]:
toronto_final_data = toronto_pure_data.merge(toronto_geo_data, on="PostalCode", how = 'inner')

In [12]:
toronto_final_data

,PostalCode,Borough,Neigborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

So far we have read the toronto postal codes and clean them via using some methods and some assumptions which we knew from peer instructions and we have combine the latitude and longitude of the postal codes. Now we have a final data frame which we are going to use for analysis at the third question. If you want to see the entire dataframe you can run the junk below by changing "Your File Path Here" by the file path which you wish to save records.

In [14]:
toronto_final_data.to_csv(r'Your File Path Here\toronto_fina.csv')